@model List<Review>

<div class="container">
    <div class="body">
        @foreach (var review in Model)
        {
            <div class="card">
                <div class="card-header">
                    <div class="name">@review.ReviewerName</div>
                    <div class="date">@review.ReviewDate</div>
                </div>
                <div class="card-body">
                    <p class="card-text">@review.ReviewBody</p>
                    <div class="stars">@review.ReviewRating Stars / 5 Stars</div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var reviews = document.querySelectorAll(".card");
        reviews.forEach(function (review, index) {
            setTimeout(function () {
                review.classList.add("active");
            }, 100 * index);
        });
    });
</script>

<style>
    .card {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

        .card.active {
            opacity: 1;
            transform: translateY(0);
        }
</style>