@model List<Review>

<script>
    let APP_ID = '1146299576721168';
    let PAGE_ID = '227047383835993';
    let PAGE_ACCESS_TOKEN = 'EAAQSjasTnxABOyMBikuvRjMhKuu4lCr8TbCFUVwopymEoHicBWQkOurgKcilh2r8kKushvztkyFHHmAu07yvSzSNYcNt7xb9HwnxC2iUB6SKlJpPRBAcITCkHpl5Rrb4Qhb3ZCW42FDVqB3WZCXVJabTIm3HZCvAejXZCeT2UOawmBEd2zeMJl3tVJShO4jo6XBTxHcWnXUiH5ZALO7JTZCrYZD';
    let PATH = `/ ${PAGE_ID}/ratings`;
    let METHOD = 'GET';
    let PARAMS = {
        access_token: PAGE_ACCESS_TOKEN
    };
    //Note: This is the method that handles the response from the api call
    let CALLBACK = (response) => {
        let reviews = response.data; //this is an array of reviews
        console.log(reviews);
    };

    window.fbAsyncInit = function () {
        FB.init({
            appId: APP_ID,
            xfbml: true,
            version: 'v19.0'
        });

        FB.api(PATH, METHOD, PARAMS, CALLBACK);
    };
</script>
<script async defer crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js'></script>


<div class="body" id="body">
    @foreach (var review in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@review.ReviewRating Stars / 5 Stars</h5>
                <p class="card-text">@review.ReviewBody</p>
                <p class="card-text">-@review.ReviewerName</p>
                <p class="card-text">@review.ReviewDate</p>
            </div>
        </div>
    }
</div>