@model List<Review>

<div class="body">

    @foreach (var review in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@review.ReviewRating Stars / 5 Stars</h5>
                <p class="card-text">@review.ReviewBody</p>
                <p class="card-text">-@review.ReviewerName</p>
                <p class="card-text">@review.ReviewDate</p>
            </div>
        </div>
    }

</div>