html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5fce4;
}
.btn {
    background-color: #C3FF0F;
}
    .btn:hover {
        background-color: #A4DB00;
    }
.navbar {
    background-color: #E4F7B6;
}