@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        About the company
    </p>

    <p>
        Who the company's owner are
    </p>

    <p>
        Mission statement
    </p>
</div>
