@model LoginVM


<!-- Set the element id for the JSON response -->

<p id="profile"></p>

<script>

    <!--Add the Facebook SDK for Javascript-- >

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')
    );

    <!--My callbacks-- >
    let statusChangeCallback = (response) => {
        console.log(response);
    }

    window.fbAsyncInit = function () {
        <!--Initialize the SDK with your app and the Graph API version for your app-- >
        FB.init({
            appId: '@(Model.FacebookAppId)',
            xfbml: true,
            version: 'v19.0'
        });

        <!--If you are logged in, automatically get your name and email address, your public profile information-- >
        FB.login(function (response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', { fields: 'id,name,email' }, function (response) {
                    document.getElementById("profile").innerHTML = "Good to see you, " + response.name + ". I see your email address is " + response.email
                    // Sending information for access token updating to the Reviews controller
                    let el = document.createElement('a');
                    el.setAttribute('href', "/Review/Index?updateLongUAccessToken=" + "true");
                    document.body.appendChild(el);
                    el.click();
                });
            } else 

                <!--If you are not logged in, the login dialog will open for you to login asking for permission to get your public profile and email-- >
                console.log('User cancelled login or did not fully authorize.');
            }
        }, { scope: 'public_profile,email,pages_show_list,pages_read_engagement,pages_read_user_content' });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    };

</script>


<h2>Login</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="LogIn" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">UserName:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Password:</label>
        <div class="col-md-4">
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col offset-md-2">
            <input type="checkbox" title="Remember Me" asp-for="RememberMe"
                   class="form-check-inline" />
            <label>Remember Me</label>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn primary">Log In</button>
            <a asp-action="Index" asp-controller="Home" class="btn primary">Cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            Not registered? <a asp-action="Register">Register as a new user</a>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            Not logged in with facebook? <a asp-action="FacebookLogin">Login on Facebook</a>
        </div>
    </div>
</form>
