@model Portfolio
@{
    ViewData["Title"] = "Create Portfolio Item";
}
<style>
    #groupSelect:hover, #groupSelect:focus,
    #thumbnailSelect:hover, #thumbnailSelect:focus {
        background-color: #BEE85C
    }
</style>


<h1>Create portfolio item</h1>
<br>

<div class="row p-2">
    <div class="col-md-5">Portfolio format:</div>
</div>
<div class="row p-2">
    <div class="col-md-2">
        <span id="default" name="default" class="btn primary">Default</span>
    </div>
    <div class="col-md-2">
        <span id="compba" name="compba" class="btn primary">Comparison: Before / After</span>
    </div>
</div>
<br>

<form method="post" asp-action="CreatePortfolio" class="form-container">
    <div class="row p-2">
        <div class="col-md-4">
            @{
                List<GroupVM> groups = ViewBag.PhotoGroups ?? new List<GroupVM>();
            }
            @if (groups.Count > 0)
            {
                <div class="form-group">
                    <label for="groupSelect">Select a photo group</label>
                    <select name="pGroupId" id="groupSelect" class="form-control">
                    <option value="0">
                        Photo Group
                    </option>
                    @foreach (GroupVM g in groups)
                    {
                        <option value="@g.GroupId">
                            @g.Name
                        </option>
                    }
                </select>
                </div>
            }
            else
            {
                <span>There are no selectable photo groups.</span>
            }
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            @{
                List<PhotoVM> photos = ViewBag.Photos ?? new List<PhotoVM>();
            }
            @if (photos.Count > 0)
            {
                <div class="form-group">
                    <label for="thumbnailSelect">Select a thumbnail image</label>
                    <select name="thumbnailId" id="thumbnailSelect" class="form-control">
                    <option value="0">
                        Thumbnail
                    </option>
                    @foreach (PhotoVM p in photos)
                    {
                        <option value="@p.PhotoId">@p.Name</option>
                    }
                    </select>
                </div>
            }
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div id="layout" class="col-lg-8">
                <div class="portfolio-parent">
                    <div class="form-group">
                        <label for="PortfolioName">Project Name</label>
                        <input asp-for="PortfolioName" id="groupSelect" class="form-control portfolio-name" placeholder="Project Name" required>

                    </div>
                    <br />
                    <div class="form-group">
                        <label for="PortfolioSummary">Project Summary</label>
                        <textarea asp-for="PortfolioSummary" id="groupSelect" class="form-control portfolio-summary" placeholder="Write a summary here" required rows="10" style="width: 40vh;"></textarea>
                    </div>
                    <div class="portfolio-default-photos">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <input type="submit" class="btn primary" value="Create portfolio item">
</form>