@model GroupUploadVM
@{
    ViewData["Title"] = "Add Group";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class="row p-2">
	<a asp-controller="Photos" asp-action="AddPhoto" class="btn col-md-2">Add a Photo</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="AddGroup" class="btn col-md-2">Add a Group</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Index" class="btn col-md-2">View Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Groups" class="btn col-md-2">View Groups</a>
</div>
<div class="row p-2">
	<a asp-controller="Photos" asp-action="HiddenPhotos" class="btn col-md-2">Hidden Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="HiddenGroups" class="btn col-md-2">Hidden Groups</a>
</div>

<h1>Upload a group of photos: </h1>
<form method="post" asp-action="AddGroup" enctype="multipart/form-data">
    <label asp-for="GroupName">Name: </label>
    <input asp-for="GroupName"><br>
    <label asp-for="GroupDescription">Description: </label>
    <input asp-for="GroupDescription"><br>
    <label asp-for="Files">Upload a file: </label>
    <input asp-for="Files" type="file" accept="image/*" required multiple><br >
    <span>Hold down SHIFT or CTRL to select multiple files</span><br>
    <input type="submit" value="Submit">
</form>