@model GroupUploadVM
@{
    ViewData["Title"] = "Add Photo";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<h1>Upload a group of photos: </h1>
<form method="post" asp-action="AddGroup" enctype="multipart/form-data">
    <label asp-for="GroupName">Name: </label>
    <input asp-for="GroupName"><br>
    <label asp-for="GroupDescription">Description: </label>
    <input asp-for="GroupDescription"><br>
    <label asp-for="Files">Upload a file: </label>
    <input asp-for="Files" type="file" accept="image/*" required multiple>
    <input type="submit" value="Submit">
</form>