@model PhotoUploadVM
@{
    ViewData["Title"] = "Add Photo";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class="row p-2">
	<a asp-controller="Photos" asp-action="AddPhoto" class="btn primary col-md-2">Add a Photo</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="AddGroup" class="btn primary col-md-2">Add a Group</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Index" class="btn primary col-md-2">View Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="Groups" class="btn primary col-md-2">View Groups</a>
</div>
<div class="row p-2">
	<a asp-controller="Photos" asp-action="HiddenPhotos" class="btn primary col-md-2">Hidden Photos</a>
	<span class="col-md-1"></span>
	<a asp-controller="Photos" asp-action="HiddenGroups" class="btn primary col-md-2">Hidden Groups</a>
</div>

<h1>Upload a photo: </h1>
<form method="post" asp-action="AddPhoto" enctype="multipart/form-data" class="form-container">
    <div class="form-group">
        <label asp-for="PhotoName">Name:</label>
        <input asp-for="PhotoName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="PhotoDescription">Description:</label>
        <input asp-for="PhotoDescription" class="form-control">
    </div>
    <div class="form-group">
        <div class="custom-file">
            <input asp-for="File" type="file" class="custom-file-input" accept="image/*" required>
            <small class="form-text text-muted">Accepted file types: .jpg, .jpeg, .png,</small>
        </div>
        <br />
    </div>
    <button type="submit" class="btn primary">Submit</button>
</form>