@model IEnumerable<PhotoModel>
@{
    ViewData["Title"] = "Pictures";
}

<div class=" = mb-2">
    <a asp-controller="Photos" asp-action="Add" class="btn btn-primary">Add a Photo</a>
</div>

<h2>Photos</h2>
