@model IEnumerable<PhotoModel>
@{
    ViewData["Title"] = "Pictures";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class=" = mb-2">
    <a asp-controller="Photos" asp-action="AddPhoto" class="btn btn-primary">Add a Photo</a>
</div>

<h2>Photos</h2>
@foreach (var image in Model)
{
    @*Gets the image source path, this is probably wrong for now*@
    var imgSrc = String.Format($"../../Photos/{image.PhotoCode}");

    <h3>@image.PhotoName</h3>
    <p><img src="@imgSrc" /></p>
    <p>@image.PhotoDescription</p>
    <p>
        <a href="/Photos/Delete?photoId=@image.PhotoId">Delete Photo</a>
    </p>
}