@model IEnumerable<Photo>
@{
    ViewData["Title"] = "Pictures";
}

<!--THIS PAGE IS NOT STYLED CORRECTLY, FIX LATER-->

<div class=" = mb-2">
    <a asp-controller="Photos" asp-action="AddPhoto" class="btn btn-primary">Add a Photo</a>
</div>

<h2>Photos</h2>

